---
import { DiscordLink, TwitchLink, YoutubeLink } from "../lib/links";
---

<div
  class="relative z-10 py-4 bg-slate-900"
  transition:name="page footer"
  transition:persist
>
  <footer class="text-white py-8">
    <div class="px-4 md:px-8">
      <div
        class="flex flex-col md:flex-row justify-between items-center md:items-start mb-8"
      >
        <div class="mb-6 md:mb-0">
          <h2 class="text-3xl font-bold">ICRS</h2>
          <div class="flex space-x-4 mt-4">
            <a href={YoutubeLink} class="text-yellow-500"
              ><i class="fab fa-youtube"></i></a
            >
            <a href={TwitchLink} class="text-yellow-500"
              ><i class="fab fa-twitch"></i></a
            >
            <a href={DiscordLink} class="text-yellow-500"
              ><i class="fab fa-discord"></i></a
            >
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-8 md:gap-16">
          <div>
            <h3 class="font-bold mb-2">Community</h3>
            <ul>
              <li><a href="/#about" class="hover:underline">About us</a></li>
              <li><a href="#" class="hover:underline">Contact</a></li>
              <li><a href="#" class="hover:underline">Gallery</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <p class="text-center text-sm text-gray-700">
    Made with <span class="text-red-500">&hearts;</span> by <a
      href="https://github.com/Pipe-Runner-Lab"
      target="_blank">PIPΞ RUNNΞR LΛB</a
    >
  </p>
</div>
