<div
  class="relative z-10 py-6 px-6 flex justify-between"
  transition:name="page header"
  transition:persist
>
  <a
    href="/"
    aria-label="go back to home page"
    class="text-2xl font-bold text-white"
  >
    ICRS
  </a>
  <nav>
    <ul class="flex space-x-8 mt-1">
      <li><a href="/" class="hover:text-customYellow">Home</a></li>
      <li><a href="/events" class="hover:text-customYellow">Events</a></li>
    </ul>
  </nav>
</div>
