<!-- Yello slider banner -->
<section class="relative z-10">
  <div class="bg-customYellow text-black py-4 overflow-hidden relative">
    <div class="whitespace-nowrap animate-marquee">
      <span
        class="inline-block font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl"
      >
        Age of Empires 4
        <span class="mx-2"> ✦</span>
        DOTA 2
        <span class="mx-2"> ✦</span>
        Frost Punk
        <span class="mx-2"> ✦</span>
        Company of Heros
        <span class="mx-2"> ✦</span>
        Iron Harvest
        <span class="mx-2">✦</span>
        Rise of Nations
        <span class="mx-2"> ✦</span>
        Men of War
        <span class="mx-2"> ✦</span>
        Total War
        <span class="mx-2"> ✦</span>
        Starcraft 2
        <span class="mx-2"> ✦</span>
        Command and Conquer
        <span class="mx-2"> ✦</span>
        Warcraft 3
        <span class="mx-2"> ✦</span>
        Stronghold
        <span class="mx-2"> ✦</span>
        Anno 1800
        <span class="mx-2"> ✦</span>
        Civilization 6
        <span class="mx-2"> ✦</span>
        Europa Universalis
        <span class="mx-2"> ✦</span>
        Crusader Kings
        <span class="mx-2"> ✦</span>
        Hearts of Iron
      </span>
    </div>
  </div>
</section>
